# Android Studio
.idea/
.gradle/

# Build
build/
app/build/

# Local config
local.properties

# IntelliJ
*.iml

# Logs
*.log

# Kotlin
.kotlin/

# Generated
captures/

# APKs
*.apk

# Temp
.DS_Store
Thumbs.db
